.footer {
  margin: 92px 0 0 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer nav {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  gap: 18px;
}

.footer ul li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
